@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');


html{
    scroll-behavior: smooth;
}

/* NEW devloper style */

.new-devloper{
    width: 1200px;
    height: 530px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}

.new-devloper-img{
    display: block;
  margin-left: auto;
  margin-right: auto;
 width: 17%;
}

.new-devloper-header{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    width: 700px;
    margin-left: 210px;
}

.new-devloper-discription{
    width: 700px;
    margin-left: 210px;
    color: #4b4b4d;
}

.new-devloper-btn{
    width: 200px;
    height: 50px;
    color: white;
    background-color: #0D1321;
    padding: 10px;
    border-radius: 8px;
    margin-left: 500px;
}

.new-devloper-btn >a{
    color: white;
    background: none;
    text-decoration: none;
}

/* web devloper style */

.web-devloper{
    margin: 50px 0px 50px 30px;
    background-color: rgb(249, 248, 248);
    border-radius: 8px;
    width: 1150px;
    height: 1330px;
}

.web-devloper-header{
    padding-top: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.web-devloper-discription{
    color: #4b4b4d;
    text-align: center;
    margin: 5px 40px;
    font-size: 18px;
} 

/* coding world */
.coding-world{
    margin:15px 50px;
    width: 750px;
    display: flex;
    justify-content: space-around;
    gap:10%;
    padding: 30px 90px; 
    background-color: white;
    border-radius: 8px;
}


.coding-world-header{
    font-size: 35px;
    font-weight: bold;
}

.coding-world-discription{
    color: #4b4b4d;
    font-size: 18px;
    padding-bottom: 8px;
}

.coding-world-btn{
    text-decoration: none;
    border: 1px solid #0D1321;
    color: #4b4b4d ;
    padding: 12px;
}

/* modern-web */

.modern-web{
    margin:15px 50px;
    width: 750px;
    /* height: 100px; */
    display: flex;
    justify-content: space-around;
    gap:10%;
    padding: 30px 90px; 
    background-color: white;
    border-radius: 8px;
}

.modern-web-header{
    font-size: 35px;
    font-weight: bold;
}

.modern-web-description{
    color: #4b4b4d;
    font-size: 18px;
    padding-bottom: 8px;
}

.modern-web-btn{
    text-decoration: none;
    border: 1px solid #0D1321;
    color: #4b4b4d ;
    padding: 12px;
}


/* my inspiration */

.my-inspiration-header{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 500px;
    margin-left: 360px;
}

.my-inspiration-disription{
    color: #4b4b4d;
    font-size: 18px;
    padding-bottom: 8px;
    text-align: center;
    width: 800px;
    margin-left: 200px;
}

.my-inspiration-video{
    align-items: center;
    margin-left: 250px;
}

/* my target style */

.my-target-header{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 500px;
    margin-left: 360px;
}

.my-target-description{
    color: #4b4b4d;
    font-size: 18px;
    padding-bottom: 8px;
    text-align: center;
    width: 800px;
    margin-left: 200px;
}

.my-target-container{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin: 40px;
    width: 1150px;
}

.my-html{
    border: 2px solid white;
    background-color: rgb(255, 244, 246);
    width: 500px;
    height: 250px;
    border-radius: 15px;
    padding: 20px;
}

.my-html-header{
    font-size: 25px;
    font-weight: bolder;
}

.my-html-description{
    color:  #4b4b4de1;
}

.my-html-link{
    color: black;
}


.my-css{
    border: 2px solid white;
    background-color: #e9f0fdeb;
    width: 500px;
    height: 250px;
    border-radius: 15px;
    padding: 20px;
}

.my-js{
    border: 2px solid white;
    background-color:#fcf9e9e7;
    width: 500px;
    height: 250px;
    border-radius: 15px;
    padding: 20px;
    margin-right: 20px;
}

/* style support section */

.support{
    width: 1150px;
    height: 300px;
    margin-left: 30px;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/handshake.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% ;
}

.support-header{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 500px;
   margin: 100px 0px 0px 350px;
    color: white;
    padding-top: 50px;
  
}

.support-description{
    color:rgb(176, 173, 173);
    font-size: 16px;
    padding-bottom: 8px;
    text-align: center;
    width: 800px;
    margin-left: 190px;
}

.support-container{
    display: flex;
   justify-content: center;
   gap: 10px ;
}
 

.input-name {
    width: 400px;
    height: 40px;
    margin-left: 50px;
    border-radius: 8px;
    color: #4b4b4d;
}

.input-submit{
    width: 100px;
    height: 45px;
    margin-right: 120px;
    border-radius: 8px;
    font-weight: bold;
    
}

/* icons styles */

.commitment{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 0px 30px;
    width: 1150px;
    height: 100px;
    background-color: rgb(251, 250, 249);
    
}
.commitment-container{
    padding: 30px;
}

.icons{
    padding: 30px;
}